{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}reset password{% endblock title %}
{% block content %}
<!--  -->
<div class="row mt-5 p-4 py-md-5 ">
  <div class="container col-md-8">
    <div class="card text-start">
      <h3 class="card-header">
        Password Reset
      </h3>
      <div class="card-body">

        <p class="card-text">
          Please enter your email associated to your account
          to reset your password.
        </p>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <div id="form_errors">
            {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
            {% endfor %}
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        <form class="row g-2" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-md-8">
            <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required
              id="id_email" placeholder="Email address">
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary rounded-pill px-3 mb-3">Go</button>
          </div>
        </form>
      </div>
      
      <div class="card-footer align-items-center text-center">
        <a href="/" class="text-decoration-none">
          <button class="btn btn-info rounded-pill px-3">Login</button>
        </a>
        <span>or</span>
        <a href="{% url 'signup' %}" class="text-decoration-none">
          <button class="btn btn-success rounded-pill px-3">Signup</button>
        </a>


      </div>
    </div>
  </div>
</div>
{% endblock content %}