{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<footer class="py-2 border-top bg-body-tertiary fixed-bottom" data-bs-theme="auto">
  <div class="container">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-md-12 mb-2 d-flex align-items-center">
        <a href="/" class="link-body-emphasis text-decoration-none d-flex">
          <img src="{% static 'img/mkx-slash.png' %}" alt="mkx" class="circle-rounded" width="32" height="32">
        </a>
        <span> <small class="me-3 text-body-secondary">&nbsp; &copy; {% now 'Y' %}</small></span>
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
        </a>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-decoration-none" href="https://mkeithx.pages.dev/" target="_blank">Docs</a>
          </li>
          <li class="ms-3"><a class="text-decoration-none" target="_blank"
              href="https://github.com/mkeithX/django-crud-demo"><i class="fa-brands fa-github"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% endblock content %}