{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}{% endblock title %}
{% block content %}
<div class="container">
    <ul class="pagination justify-content-center mt-lg-3 py-5">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Back</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">More</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock content %}